body{
    background-color: rgb(37, 34, 34);
    color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    color: rgb(208, 23, 23);
}
h2{
    color: rgb(255, 0, 0);
}
dt{
    color: rgb(255, 0, 0);
}